    <footer class="footer__main--bottom">
        <p>© {{ copyrightYear }} Inquisitive Jane Blog</p>    
    </footer>
    <script src="/vendors/js/highlight.min.js"></script>
    <script src="/script.min.js"></script>
</body>
</html>