<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inquisitive Jane Blog</title>
    <link rel="stylesheet" href="/style.min.css" />
</head>
<body>
    <header class="header header--main">
        <nav class="nav nav--top clearfix">
            <a class="a__brand-name" href="/">Inquisitive Jane</a>
            <ul class="nav__items">
                <li><a href="/">Posts</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </header>

