* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html { @include font-size(11px); }

body { box-sizing: border-box; }

.container { 
    min-height: calc(100vh - 60px); 
    width: 80%;
    margin: 0 auto;
    padding: 2rem;
    background-color: $container__bgcolor--default;
}

@media (min-width: 1200px) { 
    html { @include font-size(14px); }
}

@media screen and (max-width: 991.98px) {
    html { @include font-size(12px); }
}

@media screen and (max-width: 767.98px) {
    html { @include font-size(10px); }
}

@media screen and (max-width: 575.98px) {
    html { @include font-size(9px); }
    .container { width: 100%; }
}