body { 
    font-family: 'Lato', sans-serif; 
    @extend %body__colors--default;
}

a {
    text-decoration: none;
    color: $a__color--default;

    &:hover { color: $a__color--hover; }
}

.header__main--top{ @extend %header__main__colors--default; }

.footer__main--bottom {
    @extend %footer__main__colors--default;
    text-align: center;    
}

.a__brand-name {
    font-family: 'Boogaloo', cursive;
    letter-spacing: 3px;
    @include font-size(32px);
    color: $a__brand-name__color--default;
    @include transition(color .3s ease-out);

    &:hover { color: $a__brand-name__color--hover; }
}

.nav__items {
    a {
        font-weight: bold;
        @include font-size(20px);
        letter-spacing: 3px;
        color: $a__nav-items__color--default;
        border-bottom: 3px solid transparent;
        @include transition(border-bottom .3s ease-out);

        &:hover {
            @extend %a__nav-items__border--hover;
            color: $a__nav-items__color--hover;
            font-weight: 400;
        }
    }
}

.section__post-box {
    figcaption {
        line-height: 2.5rem;

        h2 { @include font-size(24px); }
        p { @include font-size(16px); }
    }
}

.section__error {
    text-align: center;

    h1 { @include font-size(96px); }
    p { @include font-size(48px); }
}

.section__about, .section__post {

    h1, h2 { color: $headings__color--default; }

    p { line-height: 2rem; }

    ul { 
        li { line-height: 2rem; }
    }
} 

.btn {
    @include font-size(20px);
    font-weight: bold;
    text-align: center;    
}

.btn__read { 
    @extend %btn__read__colors--default; 
    @include transition(color .3s ease-out);

    &:hover { color: $btn__read__colors--hover; }
}