{{> header}}
    <div class="container">
        <section class="section section--box">
            <div class="section__post-box">
                <figure>
                    <img src="/img/gulp-logo.jpg" alt="GulpJS" />
                </figure>
                <figcaption>
                    <h2>An Awesome Treat from Gulp JS</h2>
                    <p>A quick introduction to GulpJS</p>
                </figcaption>
                <a href="/:id" class="btn btn__read">Continue Reading</a>
            </div>        
            <div class="section__post-box">
                <figure>
                    <img src="/img/gulp-logo.jpg" alt="GulpJS" />
                </figure>
                <figcaption>
                    <h2>An Awesome Treat from Gulp JS</h2>
                    <p>A quick introduction to GulpJS</p>
                </figcaption>
                <a href="/:id" class="btn btn__read">Continue Reading</a>
            </div>                
        </section>
    </div>
{{> footer}}