%header--main--colors {
    background-color: #426E86;
    color: #F8F1E5; 
}

%footer--main--colors {
    background-color: #426E86;
    color: #F8F1E5;
}

%btn__read--colors {
    background-color: #426E86;
    color: #F8F1E5;
}

%a__nav-items--hover-colors {
    font-weight: 400;
    color: $a-hover--color;
    border-bottom: 3px solid #F9BA32;
}