$container__bgcolor--default: #fff;
$headings__color--default: #444;

$a__color--default: #426E86;
$a__color--hover: #F9BA32;

$a__nav-items__color--default: #F8F1E5;
$a__nav-items__color--hover: #fff;

$a__brand-name__color--default: #fff;
$a__brand-name__color--hover: #F8F1E5;

$btn__read__colors--hover: #fff;